{% extends 'base.html' %}

{% block content %}
    <br>
    <p>Привет! Меня зовут Егор, я начинающий Backend Developer. Есть большое желание развиваться и приносить пользу команде - я очень люблю свою работу, могу погружаться в нее целиком и полностью.</p>
    <p>В данный момент активно работаю с Python3.</p>
    <p>Считаю, что честность и трудолюбие - главные качества работника в сфере IT.</p>
    <p>Навыки:</p>
    <ul>
        <li>Python 3.7+</li>
        <li>Flask</li>
        <li>Rest Api на Flask</li>
        <li>Linux (уверенное использование Ubuntu 16.0+)</li>
        <li>Git</li>
        <li>SQL</li>
        <li>Знаком с HTML/CSS/JS</li>
    </ul>
    <p>Английский на уровне Intermediate</p>
    <p>Открыт для предложений и сотрудничества, звоните, пишите, буду рад обговорить детали!</p>
    <p><b>Моя почта: </b>egorpetriaev@ya.ru</p>
    <p><b>Мой телефон: </b>+79996224174</p>
    <p><a href="https://career.habr.com/egorpetr"><img src="static/img/habr.jpg" width="50px" height="50px"></a>Профиль на Habr Карьера</p>
    <p><a href="https://vk.com/petryaevru"><img src="static/img/vk.png" width="50px" height="50px"></a>Профиль в Vk</p>
    <p><a href="https://petryaev.xyz"><img src="static/img/egor.png" width="50px" height="50px"></a>Мой персональный сайт</p>
{% endblock %}